<%= turbo_frame_tag "modal" do %>
  <div class="modal-backdrop" data-controller="modal">
    <div class="modal-content">
      <h2>Edit Product</h2>
      
      <%= form_with(model: @product, data: { turbo_frame: dom_id(@product) }, local: false) do |form| %>
        <% if  @product.errors.any? %>
            <div class="errors">
            <h2><%= pluralize( @product.errors.count, "error") %> prevented this product from being saved:</h2>
            <ul>
                <%  @product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
            </div>
        <% end %>

        <%= render partial: "editform", locals: { form: form } %>

        <div class="actions">
            <%= form.submit "Update", class: "btn btn-primary" %>
        </div>
        <% end %>

      <button data-action="modal#close" class="btn btn-secondary">Cancel</button>
    </div>
  </div>
<% end %>
